<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="filename">CAESIUM_log.txt</Property>
    </Properties>

    <Appenders>
        <CliLogger name="CliLogger"/>

        <File name="File" fileName="${filename}">
            <PatternLayout pattern="[%d{YYYY:MM:HH:mm:ss}] %-5level%msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="CliLogger"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
